{
    "api_protocol": "http://",
    "api_url": "pro.vigevano.com",
    "api_port": "8081",
    "dbms": {
        "database": "pro",
        "username": "root",
        "password": "root",
        "host": "localhost",
        "dialect": "mysql",
        "port": "8889",
        "logging": false,
        "pool": {
            "max": 1000,
            "min": 0,
            "idle": 60000,
            "acquire": 60000,
            "evict": 60000
        }
    }
}